.bg-container
{
    background-image:url("m15.jpg");
    background-size:300px 300px 300px;
    background-repeat:no-repeat;
    height:500px;
    width: 300px;
    

}
.tour-card
{
    border-radius:10px;
    border:6px solid blue;
    text-align:center;
    
    
}